:root {
  --dark-square-color: #598646;
  --light-square-color: #f5e5c3;
  --background-fallen: rgb(49, 48, 48);
  --background: rgb(34, 34, 34);
  --background-items: rgb(50,50,50);
  --font-color: rgb(203, 203, 203);
  --placeholder-color: rgb(117, 117, 117);
  --button-color: #3c652b;
  --name-back: #086ba8;

}

* {
  margin: 0;
  padding: 0;
}

span {
  font-family: 'JetBrains Mono', monospace;
  color: var(--font-color);
}

button {
  border: 1px solid darkgray;
  background: rgb(34,34,34);
  border-radius: 10px;
  color: white;
  transition: 200ms;
  font-family: 'JetBrains Mono', monospace;
  padding: 10px;
  margin: 10px;
}

html {
  background: var(--background);
}

.user-form  {
  margin-top: 30px !important;
  max-width: 800px;
  margin: auto;
  background: var(--background-items);
  padding: 20px;
  border-radius: 10px;
}

.user-form h1 {
  font-family: 'JetBrains Mono', monospace;
  color: var(--font-color);
  font-size: 20px;
}

.user-form input {
  background: var(--background);
  outline: none;
  font-family: 'JetBrains Mono', monospace;
  color: var(--font-color);
  font-size: 14px;
  border: 1px solid var(--placeholder-color);
  transition: 200ms;
}

.user-form input::placeholder {
  color: var(--placeholder-color);
}

.user-form input:focus {
  outline: white !important;
  border: 1px solid white;
}

.user-form input:hover {
  transition: 200ms;
}

.user-form button {
  margin: 10px 0px 0px 0px;
  color: var(--font-color);
  background: var(--button-color);
  border-color: transparent;
}

.user-form button:hover {
  border-color: transparent;
  border-radius: 4px;
  background: #598646;
  color: var(--font-color);
}

.user-form button:active {
  color: var(--font-color);
  border-color: transparent;
  border-radius: 4px;
}


.game-control {
  display: inline-block;
  position: absolute;
  margin: 0px 0px 500px 770px;
  width: 120px;
}

.game-control button {
  margin: 0px 0px 0px 0px;
  width: content-box;
  height: content-box;
  padding: 0px;
}

.game-control span {
  display: flex;
  color: white;
  padding-left: 10px;
  justify-content: left;
  align-items: start;
}

.user-name {
  background: var(--background-fallen);
  margin: 10px 10px 10px 0px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.home {
  background: var(--background);
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 20px;
}

.picker {
  background: var(--background-items);
  color: var(--font-color);
  user-select: none;
  border-radius: 10px;
  font-family: 'JetBrains Mono', monospace;
}

.picker-items:hover {
  cursor: pointer;
}


.share-link {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--font-color);
  margin: 0px 0px 10px 20px;
}
.share-link button {
  padding: 5px;
}

.share-link input {

  background: var(--background-items);
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--font-color);
  width: 450px;
  height: 30px;
  color: var(--font-color);
  font-family: 'JetBrains Mono', monospace;
  padding: 5px;
}

.share-link span {
  user-select: none;
}


.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
}

.app-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(34,34,34);
}

.board-container {
  width: 600px;
  height: 600px;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.promote-square {
  width: 50%;
  height: 50%;
}

.square-black {
  /*background: #B59963;*/
  background: var(--dark-square-color);
}

.square-white {
  /*background: #F0d9b5;*/
  background: var(--light-square-color);
}

.board-square {
  width: 100%;
  height: 100%;
}

.piece-container {
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  max-width: 100%;
  max-height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.horizontal-text {
  color: white;
  font-size: 24px;
  padding: 10px;
  font-family: 'JetBrains Mono', monospace;
}

.vertical-text {
  user-select: none;
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: white;
  font-weight: 200;
  font-size: 24px;
  padding: 10px;
  font-family: 'JetBrains Mono', monospace;
}

.vertical-text button {
  margin-top: 40px;
  border: 1px solid darkgray;
  background: rgb(34,34,34);
  border-radius: 10px;
  transition: 200ms;
  padding: 0px;
}



.vertical-text span {
  font-size: 16px;
}

button:hover {
  border: 1px solid white;
  transition: 200ms;
  background: rgb(34,34,34);
  border-radius: 10px;
}





.coordinates-dark-w {
  user-select: none;
  position: fixed;
  z-index: 0;
  font-family: 'JetBrains Mono', monospace;
  color: var(--dark-square-color);
}

.coordinates-light-w {

  user-select: none;
  position: fixed;
  z-index: 0;
  font-family: 'JetBrains Mono', monospace;
  color: var(--light-square-color);
}

.coordinates-dark-b {
  margin: 50px 0px 0px 65px;
  user-select: none;
  position: fixed;
  z-index: 0;
  font-family: 'JetBrains Mono', monospace;
  color: var(--dark-square-color);
}

.coordinates-light-b {
  margin: 50px 0px 0px 65px;
  user-select: none;
  position: fixed;
  z-index: 0;
  font-family: 'JetBrains Mono', monospace;
  color: var(--light-square-color);

}

.letter-w {
  margin: 55px 55px 55px 60px;
  user-select: none;
}
.letter-b {
  margin: -3px 0px 0px 3px;
  user-select: none;
}

#aLetter {
  color: black;
}

.fallen-container {
  width: 600px;
  height: 45px;
  align-items: center;
  background: var(--background-fallen);
}

.fallen-container img {
  cursor: auto;
  width: 7%;
  height: 7%;
}

